<header ng-include="'/views/header.html'"></header>
<section class="left-col" ng-include="'/views/tasks.html'"></section>

<section class="right-col">
    <div class="card-container" ng-controller="CardsController">
        <div class="card register">
            <form>
                <div class="title"><input class="title" placeholder="Escribe aqui el nombre de tu viaje" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Escribe aqui el nombre de tu viaje'" /></div>
                <h3><i class="icon-user"></i> TODO: Add user email <!-- No vale card owner por que la card no tiene owner --></h3>
                <fieldset>
                    <label>Descripcion</label>
                    <textarea />
                </fieldset>
                <fieldset>
                    <label>Elige tu widget::</label>
                    <div class="select-style">
                        <select>
                            <option>Widget 1</option>
                            <option>Widget 2</option>
                            <option>Widget 3</option>
                            <option>Widget 4</option>
                            <option>Widget 5</option>
                        </select>
                    </div>
                </fieldset>
                <fieldset>
                    <button class="btn" type="submit">Publicar</button>
                </fieldset>
            </form>
        </div>
        <div class="card" ng-repeat="card in loadedCards">
            <h2>{{ card.title }}</h2>
            <h3><i class="icon-user"></i> {{ card.owner.email }}</h3>
            <p>{{ card.description }}</p>
            <div class="widget" ng-include="widgetHost + card.widget.template"></div>

            <div class="comments" ng-controller="CommentController">
                <div class="comment" ng-repeat="comment in comments">
                    <span class="comment-user">{{ comment.user.email }}</span>
                    <span class="comment-text">{{ comment.text }}</span>
                </div>
                <form ng-submit="addComment()">
                    <textarea class="comment-input" ng-model="inputComment"></textarea>
                    <div>
                        <input type="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>




</section>

