<div class="veil" style=""></div>
<div class="back-cloud"></div>
<div class="new-card-dialog">
    <div class="ribbon">
        <div class="ribbon-stitches-top"></div>
        <strong class="ribbon-content">
            <input type="input" name="title" value="" placeholder="Titulo de nuevo viaje">
        </strong>
        <div class="ribbon-stitches-bottom">
        </div>
    </div>
    <form>
        <fieldset>
            <textarea class="textarea" type="input" name="description" placeholder="Descripcion">                </textarea>
        </fieldset>
        <fieldset>
            <input class="btn" type="submit" value="Guardar">
            <input class="btn btn-cancel" type="submit" value="Cancelar" ng-click="closeTripButton()">
        </fieldset>
    </form>
</div>
