<div class="background"></div>
<div class="content">
    <h1>Mr. Fogg</h1>
    <div class="trips-holder">
        <div class="trips" ng-controller="TripListController">
            <a class="trip-name">{{ mytrip.name }}<i class="icon-unfold-2"></i></a>
            <ul class="trip-list">
                <li ng-repeat="trip in triplist">
                    <a ng-href="#/trips/{{ trip.id }}">
                        {{ trip.name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="menu">
        <img class="user" ng-src="{{ user.avatar }}?s=34">
        <div class="menu-button" ng-controller="TooltipController">
            <a class="icon-menu" ng-click="showTooltip()">
            </a>
            <div class="tooltip" ng-show="isTooltipVisible" ng-mouseleave="hideTooltip()">
                <a ng-click="addTripButton(); hideTooltip()"><i class="icon-flight"></i> Crear nuevo viaje </a>
                <a ng-click="addCardButton(); hideTooltip()"><i class="icon-add2"></i> Nueva Tarjeta </a>
                <a ng-click="addCardButton(); hideTooltip()"><i class="icon-cancel"></i> Logout </a>
            </div>
        </div>
    </div>
</div>
