<div class="background"></div>
<div class="content">
    <h1>Mr. Fogg</h1>
    <div class="trips-holder">
        <div class="trips">
            <a href="#/" class="trip-name">{{ tripName }}  das das das das das das das<i class="icon-unfold-2"></i></a>
            <ul class="trip-list" ng-controller="TripsController">
                <li ng-repeat="trip in triplist">
                    <a ng-href="/trip/{{ trip.id }}">
                    {{ user.email }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="menu" ng-controller="UserController">
        <img ng-src="http://<www class='gravat'></www>ar.com/avatar/{{ user.avatar }}">
        <div class="menu-button">
            <a class="icon-menu">
            </a>
            <div class="tooltip">
                <a href="#/"><i class="icon-view"></i> Ver mis viajes </a>
                <a href="#/"><i class="icon-checkbox"></i> Crear nuevo viaje </a>
                <a href="#/"><i class="icon-add2"></i> Nueva Tarea </a>
            </div>
        </div>
    </div>
</div>
