<div class="header">
</div>

<div class="login swing">
    <div class="parachute ">
    </div>
    <div class="form">
        <form ng-submit="submit()">
            <fieldset>
                <input type="text" class="input-small" placeholder="Username" id="inputUsername">
            </fieldset>
            <fieldset>
                <input type="password" class="input-small" placeholder="Password" id="inputPassword">
            </fieldset>
            <fieldset>
                <button class="loginbtn btn" type="submit">Login</button>
            </fieldset>
        </form>
    </div>
</div>

<div class="footer">
</div>
