<div class="task" ng-controller="TaskListController">
    <h2>TAREAS</h2>
    <ul class="content">
        <li ng-class="task.status" ng-repeat="task in tasklist">
            <a ng-click="taskToggleStatus(task)" class="ico">
                <i ng-class="{'icon-checked':task.status=='done', 'icon-checkbox':task.status=='pending'}"></i>
            </a>
            <a class="text" ng-href="#/trips/{{ mytrip.id }}/tasks/{{ task.id }}">{{ task.name }}</a>
        </li>
        <li class="pending register">
            <a>
                <i class="icon-add2"></i>
            </a>
            <a class="input">
                <input
                    ng-model="task.name"
                    ng-enter="addTask()"
                    class="title" placeholder="Nombre de la Tarea">
            </a>
        </li>
    </ul>
</div>
