<div class="task">
    <h2>Tasks</h2>
    <ul class="content">
        <li class="pending register">
            <a>
                <i class="icon-add2"></i>
            </a>
            <a class="input">
                <input class="title" placeholder="Nombre de la Tarea">
            </a>
        </li>
        <li ng-class="task.status" ng-repeat="task in tasklist">
        <a ng-click="taskToggleStatus(task)">
            <i ng-class="{'icon-checked':task.status=='done',
                          'icon-checkbox':task.status=='pending'}"></i></a>
        <a ng-href="#/trips/1/tasks/{{ task.id }}">{{ task.name }}</a></li>
    </ul>
</div>
