<div class="task" ng-controller="TaskListController">
    <h2>TAREAS</h2>
    <ul class="content">
        <li ng-class="getTaskClasses(task)" ng-repeat="task in tasklist">
            <a ng-click="taskToggleStatus(task)" class="ico">
                <i ng-class="{'icon-checked':task.status=='done', 'icon-checkbox':task.status=='pending'}"></i>
            </a>
            <a class="text" ng-href="#/trips/{{ mytrip.id }}/tasks/{{ task.id }}">{{ task.name }}</a>
        </li>
        <li class="pending register">
            <a>
                <i class="icon-add2"></i>
            </a>
            <a class="input">
                <input
                    ng-model="task.name"
                    ng-enter="addTask()"
                    class="title" placeholder="Nombre de la Tarea">
            </a>
        </li>
    </ul>
</div>

<div class="memberlist task" ng-controller="UserListController">
    <h2>VIAJEROS</h2>
    <ul class="content">
        <li class="pending" ng-repeat="user in userList">
        <a class="user"><img ng-src="{{ user.avatar }}?s=40"</a>
            <a class="text">{{ user.email }}</a>
        </li>
        <li class="pending register">
            <a>
                <i class="icon-add2"></i>
            </a>
            <a class="input">
                <input
                    ng-model="user.email"
                    ng-enter="addUser()"
                    class="title" placeholder="Agrega un viajero">
            </a>
        </li>
    </ul>
</div>
