@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  40% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  60% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  40% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  60% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.swing {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
     -webkit-animation: swing 25s linear infinite;
}


@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes spin-back {
	from { -webkit-transform: rotate(360deg); }
	to { -webkit-transform: rotate(0deg); }
}


@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.pulse {
    -webkit-animation: pulse 1s linear infinite;
}

@-webkit-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.bounce {
    -webkit-animation: bounce 1s linear infinite;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}


@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    -ms-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.tada {
    -webkit-animation: tada 1s linear infinite;
}

@-webkit-keyframes  plane {
    0% {
        -webkit-transform: translate3d(100px, 0px, 0px) rotate(-90deg) scaleY(-1) scaleX(1);
        -webkit-animation-timing-function: ease-in;
    }
    25% {
        -webkit-transform: translate3d(140px, 0px, 0px) rotate(-90deg) scaleY(-1) scaleX(1);
        -webkit-animation-timing-function: ease-out;
    }
    50% {
        -webkit-transform: translate3d(180px, 0px, 0px) rotate(-90deg) scaleY(-1) scaleX(1);
    }
    75% {
        -webkit-transform: translate3d(140px, 0px, 0px) rotate(-90deg) scaleY(-1) scaleX(1);
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(100px, 0px, 0px) rotate(-90deg) scaleY(-1) scaleX(1);
        -webkit-animation-timing-function: ease-in;
    }
}

@-webkit-keyframes  plane2 {
    0% {
        -webkit-transform: translate3d(-20px, 0px, 0px) rotate(90deg) scaleY(-1) scaleX(1);
        -webkit-animation-timing-function: ease-in;
    }
    25% {
        -webkit-transform: translate3d(20px, 0px, 0px) rotate(90deg) scaleY(-1) scaleX(1);
        -webkit-animation-timing-function: ease-out;
    }
    50% {
        -webkit-transform: translate3d(80px, 0px, 0px) rotate(90deg) scaleY(-1) scaleX(1);
    }
    75% {
        -webkit-transform: translate3d(20px, 0px, 0px) rotate(90deg) scaleY(-1) scaleX(1);
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(-20px, 0px, 0px) rotate(90deg) scaleY(-1) scaleX(1);
        -webkit-animation-timing-function: ease-in;
    }
}

@-webkit-keyframes  plane3 {
    0% {
        -webkit-transform: translate3d(0, 140px, 0px) rotate(180deg) scaleY(1) scaleX(-1);
        -webkit-animation-timing-function: ease-in;
    }
    25% {
        -webkit-transform: translate3d(0, 210px, 0px) rotate(180deg) scaleY(1) scaleX(-1);
        -webkit-animation-timing-function: ease-out;
    }
    50% {
        -webkit-transform: translate3d(0, 240px, 0px) rotate(180deg) scaleY(1) scaleX(-1);
    }
    75% {
        -webkit-transform: translate3d(0, 210px, 0px) rotate(180deg) scaleY(1) scaleX(-1);
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(0, 140px, 0px) rotate(180deg) scaleY(1) scaleX(-1);
        -webkit-animation-timing-function: ease-in;
    }
}

@-webkit-keyframes  plane4 {
    0% {
        -webkit-transform: translate3d(0px, 0px, 0px) rotate(270deg) scaleY(-1) scaleX(1);
        -webkit-animation-timing-function: ease-in;
    }
    25% {
        -webkit-transform: translate3d(40px, 0px, 0px) rotate(270deg) scaleY(-1) scaleX(1);
        -webkit-animation-timing-function: ease-out;
    }
    50% {
        -webkit-transform: translate3d(100px, 0px, 0px) rotate(270deg) scaleY(-1) scaleX(1);
    }
    75% {
        -webkit-transform: translate3d(35px, 0px, 0px) rotate(270deg) scaleY(-1) scaleX(1);
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(0, 0px, 0px) rotate(270deg) scaleY(-1) scaleX(1);
        -webkit-animation-timing-function: ease-in;
    }
}

@-webkit-keyframes  plane5 {
    0% {
        -webkit-transform: translate3d(0, 0px, 0px) rotate(-90deg) scaleY(1) scaleX(-1);
        -webkit-animation-timing-function: ease-in;
    }
    25% {
        -webkit-transform: translate3d(80px, 0px, 0px) rotate(-90deg) scaleY(1) scaleX(-1);
        -webkit-animation-timing-function: ease-in;
    }
    50% {
        -webkit-transform: translate3d(185px, 0px, 0px) rotate(-90deg) scaleY(1) scaleX(-1);
        -webkit-animation-timing-function: ease-in;
    }
    75% {
        -webkit-transform: translate3d(20px, 0px, 0px) rotate(-90deg) scaleY(1) scaleX(-1);
        -webkit-animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translate3d(0, 0px, 0px) rotate(-90deg) scaleY(1) scaleX(-1);
        -webkit-animation-timing-function: ease-in;
    }
}

@-webkit-keyframes  plane6 {
    0% {
        -webkit-transform: translate3d(0, 0px, 0px) rotate(0deg) scaleY(-1) scaleX(1);
        -webkit-animation-timing-function: ease-in;
    }
    25% {
        -webkit-transform: translate3d(0, 40px, 0px) rotate(0deg) scaleY(-1) scaleX(1);
        -webkit-animation-timing-function: ease-out;
    }
    50% {
        -webkit-transform: translate3d(0, 100px, 0px) rotate(0deg) scaleY(-1) scaleX(1);
    }
    75% {
        -webkit-transform: translate3d(0, 40px, 0px) rotate(0deg) scaleY(-1) scaleX(1);
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(0, 0px, 0px) rotate(0deg) scaleY(-1) scaleX(1);
        -webkit-animation-timing-function: ease-in;
    }
}

