@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  40% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  60% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  40% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  60% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.swing {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
     -webkit-animation: swing 25s linear infinite;
}


@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes spin-back {
	from { -webkit-transform: rotate(360deg); }
	to { -webkit-transform: rotate(0deg); }
}


.plane-first {
    -webkit-animation: plane 15s linear infinite;
    border-right: solid 10px blue;
}


@-webkit-keyframes  plane {
    0% {
        -webkit-transform: translate3d(0, 0px, 0px);
        -webkit-animation-timing-function: ease-in;
    }
    25% {
        -webkit-transform: translate3d(150px, 260px, 0px);
        -webkit-animation-timing-function: ease-out;
    }
    50% {
        -webkit-transform: translate3d(300px, 520px, 0px);
    }
    75% {
        -webkit-transform: translate3d(150px, 260px, 0px);
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translate3d(0, 0px, 0px);
        -webkit-animation-timing-function: ease-in;
    }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.pulse {
    -webkit-animation: pulse 1s linear infinite;
}