@font-face {
    font-family: 'concert';
    src: url('../font/concertone-regular-webfont.eot');
    src: url('../font/concertone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/concertone-regular-webfont.woff') format('woff'),
         url('../font/concertone-regular-webfont.ttf') format('truetype'),
         url('../font/concertone-regular-webfont.svg#concert_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}