@import "color.less";
@import "font.less";
@import "animation.less";
@import "elements.less";
/*@import "tooltip.less";*/
@import "shortcut.less";
/*@import "responsive.less";*/


html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: base;
    overflow-x: hidden
}
* {
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

fieldset {
    border: 0;
}

input {
    font-size: 1em;
}

textarea {
        font-size: 0.9em;
}
.textarea {
        background: #e0eef3;
        min-height: 120px;
        border: 0;
        color: #186e8a;
        padding: 10px 15px;
        resize: none;
        width: 100%;
    }

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    &:hover {
        opacity: 0.5;
    }
}

h1 {
    color: white;
    font-size: 4.0em;
}

h2 {
    color: white;
    font-size: 3.0em;
}
h3 {
    color: white;
    font-size: 2.2em;
}
p {
    line-height: 1.5;
}

/************ Background *************/

.bg-holder {
    height: 100%;
    position:  fixed;
    width: 100%;
    background: #d6f6ff;
    overflow: hidden;
    .earth-holder {
        left: 50%;
        position: absolute;
        height: 0px;
        top: 65%;
        width: 0px;
    }
    #earth {
        width: 4200px;
        height: 4200px;
        background-image: url("../images/world.png");
        background-size: 100%;
        -webkit-animation: spin 1000s linear infinite;
        position: absolute;
        margin-left: -2100px;
    }
    .cloud {
        width: 5000px;
        height: 5000px;
        background-image: url("../images/cloud.png");
        background-size: 100%;
        -webkit-animation: spin 250s linear infinite;
        position: absolute;
        margin-left: -2500px;
        z-index: 2;
    }
    .cloud-2 {
        width: 5000px;
        height: 5000px;
        background-image: url("../images/cloud2.png");
        background-size: 100%;
        -webkit-animation: spin-back 420s linear infinite;
        position: absolute;
        margin-left: -2500px;
        z-index: 1;
    }
    .planes {
        width: 5000px;
        height: 5000px;
        background-size: 100%;
        -webkit-animation: spin-back 45s linear infinite;
        position: absolute;
        margin-left: -2500px;
        z-index: 3;
        .plane {
            background: url(../images/airplane2.png);
            background-size: 100%;
            display: block;
            position: absolute;
            height: 18px;
            width: 50px;
            z-index: 0;
            &.plane-1 {
                -webkit-animation: plane 15s linear infinite;
                top: 50%;
                right: 0;
            }
            &.plane-2 {
                -webkit-animation: plane2 15s linear infinite;
                top: 50%;
                left: 0;
            }
            &.plane-3 {
                -webkit-animation: plane3 15s linear infinite;
                bottom: 0;
                left: 50%;
            }
        }
    }
    .planes-2 {
        width: 5000px;
        height: 5000px;
        background-size: 100%;
        -webkit-animation: spin 65s linear infinite;
        position: absolute;
        margin-left: -2500px;
        .plane {
            background: url(../images/airplane1.png);
            background-size: 100%;
            display: block;
            position: absolute;
            height: 18px;
            width: 50px;
            z-index: 0;
            &.plane-1 {
                -webkit-animation: plane4 15s linear infinite;
                top: 50%;
                right: 0;
            }
            &.plane-2 {
                -webkit-animation: plane5 15s linear infinite;
                top: 50%;
                left: 0;
            }
            &.plane-3 {
                -webkit-animation: plane6 15s linear infinite;
                bottom: 0;
                left: 50%;
            }
        }
    }
}

/************ Dashboard *************/


.wrapper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    .container {
        max-width: 1010px;
        height: 100%;
        margin: 0 auto;
    }
    header {
        position: fixed;
        max-width: 10000px;
        z-index: 100;
        .background {
            background: @basecolor;
            padding: 0 10000px;
            margin: 0 -10000px;
            height: 60px;
            position: absolute;
            z-index: 1;
        }
        .content {
            display: table;
            width: 1000px;
            padding: 10px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            height: 80px;
        }
        h1 {
            background: url("../images/mainlogo.png") no-repeat;
            display: inline-block;
            height: 40px;
            line-height: 0;
            text-indent: -9999px;
            width: 158px;
            margin: 0;
        }
        .trips-holder {
            display: table-cell;
            text-align: center;
            width: 100%;
        }
        .trips {
            .rounded-corners(6px);
            background: @lightbase;
            color: white;
            font-size: 1.8em;
            display: inline-block;
            position: relative;
            padding: 3px 6px;
            z-index: 100;
            max-width: 300px;
            width: 100%;

            img {
                max-width: 280px;
                padding-right: 20px;

            }
            .icon-unfold-2 {
                position: absolute;
                font-size: 20px;
                right: 0;
                top: 8px;
            }
            .trip-list {
                background: @darkbase;
                display: none;
                position: absolute;
                left: 0px;
                margin: 0;
                top: 40px;
                padding: 0;
                width: 100%;
                z-index: 90;
                .rounded-corners(0 0 6px 6px);
                ul {
                    padding-bottom: 10px;
                }
                li {
                    list-style: none;
                    text-overflow: ellipsis;
                    position: relative;
                    white-space: nowrap;
                }
                a {
                    padding: 0 15px 10px;
                    display: block;
                    font-size: 0.7em;
                    text-transform: uppercase;
                    list-style: none;
                    text-align: left;
                    max-width:100%;
                    height: 42px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    position: relative;
                    white-space: nowrap;
                    &:first-child {
                        padding-top: 10px;
                    }
                    &:hover {
                        background: @lightblue;
                        opacity: 1;
                        color: @darkbase;
                    }

                }
            }
            &:hover {
                .rounded-corners(6px 6px 0 0);
                &.unique {
                    .rounded-corners(6px);
                }
                .trip-list {
                    display: block;

                    &:hover {
                        display: block;
                    }
                }
            }
        }
        .trip-name {
            display: inline-block;
            height: 34px;
            text-align: left;
            vertical-align: top;
            text-transform: uppercase;
            overflow: hidden;
            height: 34px;
            text-overflow: ellipsis;
            position: relative;
            white-space: nowrap;
            padding-right: 20px;
            padding-left: 10px;
            width: 270px;
        }
        .menu {
            display: inline-block;
            vertical-align: top;
            width: 150px;
            .menu-button {
                margin-top: -3px;
                .select();
                float: right;
                position: relative;
                a {
                    color: white;
                    font-size: 35px;
                    padding: 3px 10px;
                    line-height: 49px;
                    display: block;

                }
                .tooltip {
                    .rounded-corners(6px);
                    .animation-transition(1.0s);
                    background: @darkbase;
                    top: 50px;
                    position: absolute;
                    width: 234px;
                    right: 13px;
                    overflow: hidden;
                    a {
                        i {
                            padding-top: 4px;
                            display: inline-block;
                            margin-bottom: -4px
                        }
                        font-size: 1.2em;
                        &:hover {
                            background: @lightblue;
                            opacity: 1;
                            color: @darkbase;
                        }
                    }

                }
            }
            .user {
                border: solid 3px white;
                float: right;
                height: 40px;
                width: 40px;
            }
        }
    }

    .welcome {
        top: 110px;
        left: 50%;
        margin-left: -471px;
        position: absolute;
        text-align: center;
        .logo {
            background: url(../images/mrfogg-logo.png) no-repeat;
            background-size: 100%;
            margin: 0 auto;
            height: 268px;
            width: 320px;
        }
        h2 {
            color: white;
            text-shadow: 1px 1px 1px @darkbase;
            font-size: 5.0em;
            margin: 0 0 10px 0;
            padding: 0;
        }
        p {
            color: @darkbase;
            text-shadow: 1px 1px 1px white;
            font-size: 1.5em;
            padding: 0;
            margin: 0 0 40px 0;
        }
        a {
            font-size: 2em;
        }
    }

    .left-col {
        display: inline-block;
        margin-top: 75px;
        margin-right: 15px;
        width: 280px;
        padding: 0;
        vertical-align: top;
        .task {
            position: relative;
            background: white;
            -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.04);
            -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.04);
            box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.04);
            margin-bottom: 15px;
            overflow: hidden;
            .ico {
                display: block;
                padding: 10px 0px 10px 10px;
                width: 20px;
            }
            .text {
                width: 100%;
                padding: 10px 10px 10px 10px;
            }
            .register {
                border: dashed 2px @darkbase;
                padding: 8px 10px;
                .rounded-corners(3px);
                .input {
                    padding: 0 0 0 5px;
                }
                input {
                    background: white;
                    border: 0;
                    color: @darkbase ;
                    height: 19px;
                    font-family: base;
                    font-size: 1em;
                    padding: 10px;
                    width: 100%;
                    .rounded-corners(3px);
                    &::-webkit-input-placeholder { /* WebKit browsers */
                        color: @darkbase ;
                    }
                    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                        color: @darkbase ;
                    }
                    &::-moz-placeholder { /* Mozilla Firefox 19+ */
                        color: @darkbase ;
                    }
                }

            }
            h2 {
                background: @darkbase;
                font-size: 1.5em;
                margin: 0;
                padding: 3px 8px;
            }
            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style: none;
                    display: table;
                    background: @lightblue;
                    margin: 10px;
                    -webkit-transition: all 0.2s ease-in-out;
                    -moz-transition: all 0.2s ease-in-out;
                    -o-transition: all 0.2s ease-in-out;
                    -ms-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;
                    width: 260px;
                    .rounded-corners(6px);
                    &:hover {
                        -webkit-transform: scale3d(1.04, 1.04, 1.04);
                        -moz-transform: scale3d(1.04, 1.04, 1.04);
                        -o-transform: scale3d(1.04, 1.04, 1.04);
                        -ms-transform: scale3d(1.04, 1.04, 1.04);
                        transform: scale3d(1.04, 1.04, 1.04);
                        -webkit-transition: all 0.2s ease-in-out;
                        -moz-transition: all 0.2s ease-in-out;
                        -o-transition: all 0.2s ease-in-out;
                        -ms-transition: all 0.2s ease-in-out;
                        transition: all 0.3s ease-in-out;
                        -webkit-box-shadow: 0 3px 0 @basecolor;
                        -moz-box-shadow: 0 3px 0 @basecolor;
                        box-shadow: 0 3px 0 @basecolor;
                    }
                    &.done {
                        background: @successfull;
                        &:hover {
                        -webkit-box-shadow: 0 3px 0 @darksuccessfull;
                        -moz-box-shadow: 0 3px 0 @darksuccessfull;
                        box-shadow: 0 3px 0 @darksuccessfull;
                        }
                        a {
                            color: @darksuccessfull;
                        }
                    }
                    a {
                    display: table-cell;
                    color: @darkbase;
                    opacity: 1;
                    .icon-checkbox {
                        margin-left: -1px;
                        }
                    i {
                        display: inline-block;
                        margin-top: 2px;
                        margin-bottom: -2px;
                        }
                    }
                }
            }
        }
        .memberlist {
            img {
                background: white;
                padding: 4px;
                .rounded-corners(4px);
                border: 1px solid @darkbase;
            }
        }
    }


    .right-col {
        display: inline-block;
        margin-top: 75px;
        width: 700px;
        .card {
            padding: 0;
            margin-bottom: 20px;
            background: rgba(255, 255, 255, 0.7);
            &.register {
                border:  dashed 2px @darkbase;
                fieldset {
                    border: 0;
                }
                .title-holder {
                    overflow: hidden;
                    background: @basecolor;
                    &.error {
                        background: @error;
                    }
                }
                input.title {
                    background: none;
                    border: 0;
                    font-size: 2.3em;
                    font-family: base;
                    font-weight: bold;
                    margin: 0px;
                    padding: 10px;
                    color: white;
                    text-shadow: 0 3px rgba(0, 0, 0, 0.3);
                    width: 100%;
                    &::-webkit-input-placeholder { /* WebKit browsers */
                        color: white;
                        -webkit-animation: bounce 1s linear infinite;
                    }
                    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                        color: white;
                        -webkit-animation: bounce 1s linear infinite;
                    }
                    &::-moz-placeholder { /* Mozilla Firefox 19+ */
                        color: white;
                        -webkit-animation: bounce 1s linear infinite;
                    }
                }
                textarea {
                    background: #e0eef3;
                    min-height: 120px;
                    border: 0;
                    color: #186e8a;
                    padding: 10px 15px;
                    resize: none;
                    width: 100%;
                }
                label {
                    display: block;
                    margin: 0 0 10px 0;
                }
                .select-style {
                    border: 0px solid #ccc;
                    width: 100%;
                    border-radius: 3px;
                    overflow: hidden;
                    background: #e0eef3;
                    .clearfix();
                }

                .select-style select {
                    padding: 5px 8px;
                    width: 100%;
                    border: none;
                    box-shadow: none;
                    background: transparent;
                    background-image: none;
                }

                .select-style select:focus {
                    outline: none;
                }
                .btn {
                    border: 0;
                }
            }
            h2 {
                font-size: 2.3em;
                margin: 0px;
                padding: 10px;
                color: white;
                background: @basecolor;
                text-shadow: 0 3px rgba(0, 0, 0, 0.3);
            }
            h3 {
                background: @info;
                font-size: 1.0em;
                margin: 0px;
                padding: 10px;
                color: @darkinfo;
            }
            p {
                margin: 0;
                padding: 15px;
            }

            .comments {
                padding: 10px;

                .comment, .comment-input {
                    border: 1px solid rgb(226, 219, 219);
                    position: relative;
                    padding: 15px;
                    margin-top: 2px;
                    margin-bottom: 10px;
                    background: white;
                    border-bottom: double rgb(207, 196, 196);
                    .rounded-corners(4px);
                    color: gray;
                    width: 100%;

                    .comment-user {
                        position: absolute;
                        right: 5px;
                        top: -4px;
                        padding: 5px;
                        .rounded-corners(4px);
                        border: 1px solid @basecolor;
                        background: white;
                        -webkit-box-shadow: 0 2px 0 @basecolor;
                        -moz-box-shadow: 0 2px 0 @basecolor;
                        box-shadow: 0 2px 0 @basecolor;
                    }
                    .comment-text {
                        display: block;
                    }

                }
                .comment-input {
                    border-color: @basecolor;
                }
            }
        }
    }

}

/************ Login *************/

.login {
    margin: auto;
    width: 300px;
    margin-top: 40%;
    .parachute {
        background: url(../images/login.png);
        height: 360px;
        width: 476px;
        position: absolute;
        top: -340px;
        left: 50%;
        margin-left: -254px;
    }
    .form {
        background: white;
        padding: 20px;
        width: 260px;
        fieldset {
            border: 0;
            padding: 6px 0;
            input {
                border: 0;
                color: #186e8a;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px 15px;
                background: #e0eef3;
                width: 100%;
                &::-webkit-input-placeholder { /* WebKit browsers */
                    color: #5fa0b5;
                }
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    color: #5fa0b5;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                    color: #5fa0b5;
                }
                &:focus {
                    background: #ecf4f6;
                    outline: none;
                }
            }
            button {
                border: 0;
            }
        }
    }
}

/************ tooltips *************/

.veil {
    background: white;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    opacity: 0.5;
    z-index: 10000;
}
.back-cloud {
    background: url(../images/cloud-form.png) no-repeat;
    background-size: 100%;
    position: fixed;
    height: 644px;
    left: 52%;
    margin-left: -450px;
    width: 786px;
    z-index: 10002;
}

.new-card-dialog {
    width: 400px;
    z-index: 1000;
    position: fixed;
    left: 50%;
    margin-left: -200px;
    padding: 15px;
    z-index: 10050;
    top: 100px;
    h2 {
        background: #5fbcd3;margin: 0px;font-size: 30px;margin-left: -15px;margin-right: -15px;margin-top: -15px;margin-bottom: 15px;
    }
    fieldset {
        text-align: center;
        &:first-child {
            margin-top: 30px;
        }
    }
    .email-input {
        background-color: #e0eef3;
        border: 0;
        color: #186e8a;
        padding: 10px 15px;
        resize: none;
        width: 100%;
    }

    .email-list {
        height: 80px;
        overflow-y: auto;
        overflow-x: visible;
        li {
            list-style: none;
        }
    }
}

/* Create the animation blocks */



