html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Concert, Arial;
    font-size: 100%;
}

h1 {
    color: white;
    font-size: 4.0em;
}

h2 {
    color: white;
    font-size: 3.0em;
}
h3 {
    color: white;
    font-size: 2.2em;
}
p {
    line-height: 1.5;
}


@import "color.less";
@import "animation.less";
/*@import "tooltip.less";*/
/*@import "shortcut.less";*/
/*@import "responsive.less";*/

/************ Background *************/

.bg-holder {
    height: 100%;
    overflow: hidden;
    position:  fixed;
    width: 100%;
    background: #d6f6ff;
    .earth-holder {
        left: 50%;
        position: absolute;
        height: 0px;
        top: 65%;
        width: 0px;
    }
    #earth {
        width: 4200px;
        height: 4200px;
        background-image: url("../images/world.png");
        background-size: 100%;
        -webkit-animation: spin 1000s linear infinite;
        position: absolute;
        margin-left: -2100px;
    }
    .cloud {
         width: 5000px;
        height: 5000px;
        background-image: url("../images/cloud.png");
        background-size: 100%;
        -webkit-animation: spin 250s linear infinite;
        position: absolute;
        margin-left: -2500px;
    }
    .cloud-2 {
         width: 5000px;
        height: 5000px;
        background-image: url("../images/cloud2.png");
        background-size: 100%;
        -webkit-animation: spin-back 400s linear infinite;
        position: absolute;
        margin-left: -2500px;
    }
}

/************ Dashboard *************/


.wrapper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    .container {
        max-width: 1000px;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
    header {
        background: @basecolor;
        display: table;
        padding: 10px;
        height: 50px;
        h1 {
            background: url();
            display: block;
            height: 40px;
            text-indent: -9999px;
            width: 180px;
        }
        .travel-name {
            display: table-cell;
            text-align: center;
            width: 100%;
        }
        .menu {
            display: block;
            width: 300px;
        }
    }
    .left-col {
        display: inline-block;
        width: 280px;
        outline: solid 1px blue;
        vertical-align: top;
    }
    .right-col {
        display: inline-block;
        outline: solid 1px green;
        width: 700px;

    }
}

/************ Login *************/

.login {
    margin: auto;
    width: 300px;
    margin-top: 40%;
    .parachute {
        background: url(../images/login.png);
        height: 360px;
        width: 476px;
        position: absolute;
        top: -340px;
        left: 50%;
        margin-left: -238px;
    }
    .form {
        background: white;
        height: 180px;
        padding: 20px;
        width: 260px;
        fieldset {
            border: 0;
            input {
                border: 0;
                color: #186e8a;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px 15px;
                background: #e0eef3;
                width: 100%;
                &::-webkit-input-placeholder { /* WebKit browsers */
                    color: #5fa0b5;
                }
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    color: #5fa0b5;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                    color: #5fa0b5;
                }
                &:focus {
                    background: #ecf4f6;
                    outline: none;
                }
            }
            button {
                border: 0;
            }
        }
    }
}

/* Create the animation blocks */



